
<form method="POST" action="/pirates">
  <h1>Pirates</h1>

  <label for="name"> Pirate Name</label>
  <input id="pirate_name" id="name" type="text" name="pirate[name]">

  <label for="weight"> Pirate Weight</label>
  <input id="pirate_weight" id="weight" type="text" name="pirate[weight]">

  <label for="height"> Pirate Height</label>
  <input id="pirate_height" id="height" type="text" name="pirate[height]">
  
  <h1>Ships</h1>

  <label for="ship_name_1"> Ship Name</label>
  <input id="ship_name_1" id="name" type="text" name="pirate[ships][][name]">

  <label for="ship_type_1"> Ship Type</label>
  <input id="ship_type_1" id="type" type="text" name="pirate[ships][][type]">

  <label for="ship_booty_1"> Ship Booty</label>
  <input id="ship_booty_1" id="booty" type="text" name="pirate[ships][][booty]">


  <label for="ship_name_2"> Ship Name</label>
  <input id="ship_name_2" id="name" type="text" name="pirate[ships][][name]">

  <label for="ship_type_2"> Ship Type</label>
  <input id="ship_type_2" id="type" type="text" name="pirate[ships][][type]">

  <label for="ship_booty_2"> Ship Booty</label>
  <input id="ship_booty_2" id="booty" type="text" name="pirate[ships][][booty]">

  <input type="submit" value="Submit">
</form>
